@{
    ViewData["Title"] = "Movie Submitted";
}
@model Mission6_jab468.Models.ApplicationResponse

<h2>Thank you for submitting @Model.Title to our database!</h2>
<div>
    <a asp-controller="Home" asp-action="MovieForm">Submit Another?</a>
</div>