@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>Movies</h1>

<img src="~/img/JoelHiltonHeadshot.jpg" height="500"/>
<br />
<div>
    <a asp-controller="Home" asp-action="MovieForm">Add a Movie</a>
</div>